<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/defaultTemplate">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>High-End Homes</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/album/">


    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />

    <style>
        .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          user-select: none;
        }
      
        @media (min-width: 768px) {
          .bd-placeholder-img-lg {
            font-size: 3.5rem;
          }
        }
      </style>
      
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <title>High-End Homes</title>
    </head>
    <body>
      <div layout:fragment="content" class="container-lg">
        <form action="#" th:action="@{/properties/update}" th:object="${propertyModel}" method="post">
          
          <input hidden id="propertyNameInput" th:field="*{id}">

          <div class="mb-3">
            <label for="propertyNameInput" class="form-label">Property Name</label>
            <input type="text" class="form-control" id="propertyNameInput" placeHolder="Some amazing property" required th:field="*{nameOfProperty}"> 
          </div>
          
          <div class="mb-3">
              <label for="propertyNameInput" class="form-label">Property Location</label>
              <input type="text" class="form-control" id="propertyNameInput" placeHolder="Some amazing property" required th:field="*{location}"> 
          </div>

          <div class="mb-3">
              <label for="propertyNameInput" class="form-label">Square Feet</label>
              <input type="text" class="form-control" id="propertyNameInput" placeHolder="Some amazing property" required th:field="*{squareFeet}"> 
            </div>
            
            <div class="mb-3">
              <label for="propertyNameInput" class="form-label">Date of Construction</label>
              <input type="text" class="form-control" id="propertyNameInput" placeHolder="Some amazing property" required th:field="*{dateOfConstruction}"> 
            </div>

            <div class="mb-3">
              <label for="propertyNameInput" class="form-label">Photo File Name</label>
              <input type="text" class="form-control" id="propertyNameInput" placeHolder="Some amazing property" required th:field="*{photoFileName}"> 
            </div>

            <div class="mb-3">
              <label for="propertyNameInput" class="form-label">Description</label>
              <input type="text" class="form-control" id="propertyNameInput" placeHolder="Some amazing property" required th:field="*{description}"> 
            </div>
            <div class="mb-3">
              <label for="propertyNameInput" class="form-label">Value</label>
              <input type="text" class="form-control" id="propertyNameInput" placeHolder="Some amazing property" required th:field="*{value}"> 
            </div>
          
         
           
          <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <br>
      <br>
      </div>
        
          
    </body>
</html>