<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/defaultTemplate">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>High-End Homes</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/album/">


    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />

    <style>
        .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          user-select: none;
        }
      
        @media (min-width: 768px) {
          .bd-placeholder-img-lg {
            font-size: 3.5rem;
          }
        }
      </style>
      
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <title>High-End Homes</title>
    </head>
    <body>
        <div layout:fragment="content" class="container-lg">
            <h1 th:text="${property.nameOfProperty}">Property Name</h1>
            
            <div class="container text-center">
                <div class="row">
                  <div class="col">
                    <img th:src="@{/img/homes/house2.jpg}" width="500">
                  </div>
                  <div class="col">
                    <img th:src="@{/img/homes/house3.jpg}" width="500">
                  </div>
                </div>
              </div>
            

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Location</th>
                    <th>Square Feet</th>
                    <th>Date of Construction</th>
                    <th>Photo</th>
                    <th>Description</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td th:text="${property.nameOfProperty}">Name</td>
                    <td th:text="${property.location}">Location</td>
                    <td th:text="${property.squareFeet}">Square Feet</td>
                    <td th:text="${property.dateOfConstruction}">Date of Construction</td>
                    <td th:text="${property.photoFileName}">Photo</td>
                    <td th:text="${property.description}">Description</td>
                    <td th:text="${property.value}">Value</td>
                </tr>
            </tbody>
        </table>
        </div>
    </body>
</html>